node_modules
**/node_modules
dist
**/dist
build
**/build
.svelte-kit
**/.svelte-kit
client/src/lib/shared
data
backups
.git
.gitignore
.dockerignore
Dockerfile
docker-compose.yml
*.log
.DS_Store
**/.env
**/.env.*

